<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app"/>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
        scriptProcessor="D:\home\site\wwwroot\Python36\python.exe|D:home\site\wwwroot\Python36\Lib\site-packages\wfastcgi.py"
        resourceType="Either" requireAccess="Script"/>
      </handlers>
  </system.webServer>
</configuration>

<!--scriptProcessor="D:\home\site\wwwroot\Python36\python.exe|D:\home\site\wwwroot\Python36\wfastcgi.py"-->
